<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>O</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.R.alt1</key>
    <array/>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.copyright</key>
    <array/>
    <key>public.kern1.dagger</key>
    <array/>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>q</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array/>
    <key>public.kern1.guilsinglright</key>
    <array/>
    <key>public.kern1.hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern1.hyphen.uc</key>
    <array/>
    <key>public.kern1.i</key>
    <array>
      <string>f_i</string>
      <string>i</string>
      <string>j</string>
      <string>u</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>f_l</string>
      <string>l</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
      <string>p</string>
      <string>b</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array/>
    <key>public.kern1.parenleft.uc</key>
    <array/>
    <key>public.kern1.parenright</key>
    <array/>
    <key>public.kern1.parenright.uc</key>
    <array/>
    <key>public.kern1.percent</key>
    <array/>
    <key>public.kern1.period</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.quotedbl</key>
    <array/>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.Eth</key>
    <array/>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>O</string>
      <string>Q</string>
      <string>G</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.copyright</key>
    <array/>
    <key>public.kern2.dagger</key>
    <array/>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_i</string>
      <string>f_l</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array/>
    <key>public.kern2.guilsinglright</key>
    <array/>
    <key>public.kern2.hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern2.hyphen.uc</key>
    <array/>
    <key>public.kern2.l</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>i</string>
      <string>m</string>
      <string>n</string>
      <string>r</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array/>
    <key>public.kern2.parenleft.uc</key>
    <array/>
    <key>public.kern2.parenright</key>
    <array/>
    <key>public.kern2.parenright.uc</key>
    <array/>
    <key>public.kern2.percent</key>
    <array/>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array/>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
