<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhoi</key>
    <string>U_hornhoi.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>minus.sup</key>
    <string>minus.sup.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>plus.sup</key>
    <string>plus.sup.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
  </dict>
</plist>
