<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2024 Matter of Sorts</string>
    <key>descender</key>
    <integer>-180</integer>
    <key>familyName</key>
    <string>Powerhouse Filar Mono</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Dr3eMzmv0t</string>
        <key>x</key>
        <integer>557</integer>
        <key>y</key>
        <integer>760</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Cusfo84xuT</string>
        <key>x</key>
        <integer>618</integer>
        <key>y</key>
        <integer>303</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>bfceRJ6VOL</string>
        <key>x</key>
        <integer>190</integer>
        <key>y</key>
        <integer>706</integer>
      </dict>
      <dict>
        <key>color</key>
        <string>0,0,0,1</string>
        <key>identifier</key>
        <string>3HsnuKFjET</string>
        <key>name</key>
        <string>             </string>
        <key>y</key>
        <integer>-180</integer>
      </dict>
      <dict>
        <key>color</key>
        <string>0,0,0,1</string>
        <key>identifier</key>
        <string>16l4Ls5LYA</string>
        <key>name</key>
        <string>            </string>
        <key>y</key>
        <integer>490</integer>
      </dict>
      <dict>
        <key>color</key>
        <string>0,0,0,1</string>
        <key>identifier</key>
        <string>SaczhjCTHH</string>
        <key>name</key>
        <string>           </string>
        <key>y</key>
        <integer>700</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-10</integer>
    <key>openTypeHeadCreated</key>
    <string>2024/03/20 21:45:35</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>3</integer>
    <key>openTypeHheaAscender</key>
    <integer>900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-200</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Matter of Sorts</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.matterofsorts.com</string>
    <key>openTypeNameManufacturer</key>
    <string>Matter of Sorts</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.matterofsorts.com</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>8</integer>
      <integer>9</integer>
      <integer>3</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>6</integer>
      <integer>2</integer>
      <integer>3</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>300</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>70</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>MOFS</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1151</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>336</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>512</integer>
      <integer>700</integer>
      <integer>712</integer>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>900</integer>
    <key>postscriptFamilyBlues</key>
    <array>
      <real>-12.0</real>
      <real>0.0</real>
      <real>490.0</real>
      <real>502.0</real>
      <real>700.0</real>
      <real>712.0</real>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <real>-192.0</real>
      <real>-180.0</real>
    </array>
    <key>postscriptFontName</key>
    <string>PowerhouseFilarMono-Regular</string>
    <key>postscriptIsFixedPitch</key>
    <true/>
    <key>postscriptNominalWidthX</key>
    <real>0.0</real>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-192</integer>
      <integer>-180</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>124</integer>
      <integer>116</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>151</integer>
      <integer>141</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>75</integer>
    <key>styleName</key>
    <string>Bold Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
